@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --bg:#171717;
    --text-light:#F5F5F5;
    --primary:#3072f8;
}

body{
    background-color: var(--bg);
    color: var(--text-light);
    font-family: "Inter", sans-serif;
}